/* From Uiverse.io by Satwinder04 */ 
.input-container {
  position: relative;
  margin: 3% 5%;
  width: 23.3%;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.teste {
  width: 100%;
}
/* Input ^^^^^^ */
.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* From Uiverse.io by elizama987 */ 
/* Hide the default checkbox */
.container input {
  display: none;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: #2196f300;
  border-radius: 0.25em;
  transition: all 0.25s;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #8451e6;
  
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  border: 0.1em solid black;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25em;
  transition:
    all 0.25s,
    border-width 0.1s;
  border-color: #8451e6;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.5em;
  height: 0.75em;
  border-color: #fff0 white white #fff0;
  border-width: 0 0.15em 0.15em 0;
  border-radius: 0em;
  transform: rotate(45deg);
}


.iptContainer {
  display: block;
  width: 100%;  
}

.iptContainer input {
  border-radius: 0px;
  padding: 0.25rem 0.5rem;
  outline: none;

  transition: all 0.45s ease-in;
}

.iptContainer .iptLine {
  width: 0%;
  height: 0.2rem;
  background-color: #333333;

  transition: all 0.45s ease-in;
}


.iptContainer input:focus ~ .iptLine {
  width: calc(100% + 1rem);
}

